<div class="row-bug"> 
    <div class="flex-container">
        <div>
            <label for="title">Titre</label>
            <input class="card-title" id="title" value="{{bug.title}}"/>
        <div>
            <label for="description">Description</label>
            <input id="description" value="{{bug.description}}" />
            <span>  Alias : </span>{{bug.alias}} 
        </div>
      </div>
</div>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">