<!-- <div class="row-bug"> 
    <div class="flex-container">
        <div>
            <label for="title">Titre</label>
            <input class="card-title" id="title" value="{{bug.title}}"/>
        <div>
            <label for="description">Description</label>
            <input id="description" value="{{bug.description}}" />
            <span>  Alias : </span>{{bug.alias}} 
        </div>
      </div>
</div> -->
<h1>Liste des bugs</h1>
<!-- attention valeur du formulaire -->
<div class="row-bug"> 
    <div class="flex-container" *ngFor="let bug of Listbugs">
        <div>
            <!-- <p>{{bug._id}}</p> -->
            <p>{{bug.title}}</p>
        </div>
        <div>
            <p>{{bug.description}}</p>
            <p>{{bug.alias}}</p>
        </div>
        <button type="button" [routerLink]="['/update/', bug._id]">Edit</button>
        <!-- <button type="button" (click)="ServiceService.delete(bug._id)">Remove</button> -->
        <button type="button" [routerLink]="['/delete/', bug._id]">delete</button>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">