
<!-- attention valeur du formulaire -->
<form [formGroup]="UpdateForm" (ngSubmit)="edit()"> 
<div class="row-bug"> 
    <div class="flex-container">
        <h1>Detail du bug</h1>
            <!-- <p>{{BugDetail| json}}</p> -->
            <!-- <input id="id" formControlName="_id"> -->
            
            <label for="title">Titre</label>
            <input type="text" id="title" formControlName="title" >
         
         
            <label for="description">Description</label>
            <input id="description" formControlName="description" >
 
            <!-- <input id="alias" formControlName="alias"> -->
            <input id="status" formControlName="status">

        <button type="button" class="btn btn-dark" (click)="edit()">Update</button>
    </div>
</div>
</form>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">